﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using System.Net
@using scada_app;
@model scada_app.ActionData

<div class="resultSectionTitle">
    Devices
</div>

<div class="resultSectionContent">
    @if (@Model.ScanResult.Devices.Any())
    {
        foreach (var device in Model.ScanResult.Devices)
        {
            @* Embed device information in the data-device attribute *@
            <div class="row deviceEntry" data-device="@JsonConvert.SerializeObject(device)">
                <div>
                    <p>@device.Protocol</p>
                    <p>IP Address: @device.IpAddress</p>
                    <p>@device.Model</p>
                    <p>@device.Manufacturer</p>
                    <p>@device.Description</p>
                    @{
                        if (device.Protocol == Constants.Protocols.EthernetIP.Name)
                        {
                            <button class="moreInfoPopupButton btn btn-default">More information</button>
                            <div class="moreInfoPopupContent">
                                <p>Protocol: @device.Protocol</p>
                                <p>Item Type: @device.ItemType</p>
                                <p>Product Code: @device.ProductCode</p>
                                <p>Serial Number: @device.SerialNumber</p>
                                <p>Revision Number: @device.RevisionNumber</p>
                            </div>
                        }
                        else
                        {
                            <button class="moreInfoPopupButton btn btn-default">More information</button>
                            <div class="moreInfoPopupContent">
                                <p>Protocol: @device.Protocol</p>
                            </div>
                        }
                    }
                </div>
            </div>
                            }

                        }
                        else
                        {
                            <div class="row">
                                <h4>No SCADA devices found at @Model.ScanRequest.IpAddress</h4>
                            </div>
                        }
</div>