body  {
    background-color: #A8C7D5;
    font-family: Arial, Helvetica, sans-serif;
}

#MainContainer {
    margin-left: 60px;
    margin-right: 60px;
}

#Templates {
    display: none;
}

#HeaderText {
    text-align: center;
}

#Menu {
    margin-top: 10px;
    text-align: left;
}

#Updates {
    text-align: center;
    height: 100px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#Updates p {
    margin-bottom: 0;
}

#Updates p:nth-child(even) {
    background-color: lightcyan;
}

#Updates p:nth-child(odd) {
    background-color: lightgrey;
}

#ScanEntireNetworkButton {
    
}

#MenuRow2 {
    margin-top: 10px;
}

#ResultsSections {
    text-align: center;
}

#Devices {

}

#Vulnerabilities {
    padding-left: 5px;
    padding-right: 5px;
}

#Mitigations > .resultSectionContent > .mitigationEntry p {
    white-space: pre-wrap;
}

.resultSectionTitle {
    font-weight: bold;
    margin-bottom: 10px;
}

.resultSectionContent {
    overflow-y: auto;
    overflow-x: hidden;
}

.resultSectionContent > div.row {
    padding-left: 40px;
    padding-right: 40px;
}

.errorMessage {
    color: darkred;
}

.deviceEntry {
    border: solid thin darkgrey;
    background-color: lightgray;
}

.deviceEntry button {
    margin-bottom: 10px;
}

.deviceEntry p {
    margin-bottom: 5px;
}

.deviceEntry:hover {
    background-color: lightcyan;
}

.vulnEntry {
    border: solid thin darkgrey;
    background-color: lightgray;
}

.vulnEntry:hover {
    background-color: lightcyan;
}

.vulnEntry .cvssValue {
    font-weight: bolder;
}

.vulnEntry .vulnName {
    font-weight: bolder;
    color: #337ab7;
}

.vulnEntry span.vulnManuallyDetected {
    color: red;
}

.vulnEntry span.vulnGeneric {
    color: blue;
}


.mitigationEntry {
    border: solid thin darkgrey;
    background-color: lightgray;
}

.mitigationEntry:hover {
    background-color: lightcyan;
}

.selectedEntry {
    background-color: lightyellow;
}

.moreInfoPopupContent {
    display: none;
}

#Popup {
    display: none;
}

#Popup a {
    color: blue;
}

#NetworkDropdownContainer li:hover {
    cursor: pointer;
}

button.reference-list {
    margin-bottom: 4px;
}

.deviceEntry:hover, .vulnEntry:hover {
    cursor: pointer;
}

.mitigationEntry {
    text-align: left;
}