﻿@model scada_app.Vulnerability

<div class="resultSectionTitle">
    Mitigations
</div>

<div class="resultSectionContent">
    @foreach (var mitigation in Model.Mitigations)
    {
        <div class="row mitigationEntry">
            <p>@mitigation.Description</p>
            @if (!string.IsNullOrEmpty(mitigation.Reference_Link)) {
                <p><a target="_blank" href="@mitigation.Reference_Link" rel="noopener noreferrer">Source link</a></p>
            }
        </div>
    }
    @{
        if (!Model.Mitigations.Any())
        {
            <p>Please refer to reference source links and contact your device manufacturer.</p>
        }
    }
</div>
