﻿@using System.Net @using System.Net.Sockets
<!doctype html>
<html>

<head>
	@* Ignore path warnings for assets - files are located in wwwroot *@
	<script type="text/javascript" src="scripts?file=jquery-3.1.0.js"></script>
	<script type="text/javascript" src="scripts?file=bootstrap.js"></script>
	<script type="text/javascript" src="scripts?file=jquery-ui.js"></script>
	<script type="text/javascript" src="scripts?file=main.js"></script>

	<link rel="stylesheet" href="styles?file=bootstrap.css">
	<link rel="stylesheet" href="styles?file=jquery-ui.css" />
	<link rel="stylesheet" href="styles?file=main.css">

	<link rel="icon" type="image/png" href="img?file=favicon.png" />

	<title>SCADA Vulnerability Scanner</title>
</head>

<body>
	<div id="MainContainer" class="container-fluid">

		<div id="HeaderText" class="row">
			<h3>SCADA Vulnerability Scanner</h3>
			@{ var host = System.Net.Dns.GetHostEntryAsync(Dns.GetHostName()).Result; foreach (var ip in host.AddressList) { if (ip.AddressFamily
			== AddressFamily.InterNetwork) {
			<h5>Local machine: @ip.ToString() (@Dns.GetHostName())</h5>
			break; } } }

		</div>

		<div id="Menu" class="row">
			<div id="MenuRow1" class="col-md-6">
				<div class="row">
					<span>
                    <button id="ScanSingleAddressButton" class="btn btn-primary">
                        Scan single address
                    </button>
                        <input id="AddressInput" type="text" placeholder="Enter address" />
                    </span>

                        
			    </div>

			<div id="MenuRow2" class="row">
                <span>
				    <button id="ScanEntireNetworkButton" class="btn btn-primary">
                        Scan entire network
                    </button> 
                </span>
                <span id="NetworkDropdownContainer" class="dropdown" data-selected-network="">
                        <button class="btn btn-default dropdown-toggle" type="button" id="NetworkDropdownMenu"         data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="content">Choose network</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="NetworkDropdown">
                            <!-- <li>test</li> -->
                        </ul>
                </span>
			</div>
		</div>

		<div id="Updates" class="col-md-6"></div>

	</div>

	<div id="ResultsSections" class="row">

		<div id="Devices" class="col-md-4">
			<div class="resultSectionTitle">Devices</div>
		</div>
		<div id="Vulnerabilities" class="col-md-4">
			<div class="resultSectionTitle">Vulnerabilities</div>
		</div>
		<div id="Mitigations" class="col-md-4">
			<div class="resultSectionTitle">Mitigations</div>
		</div>

	</div>

	@* Template for popup dialog (using jQuery UI), manipulated when necessary *@
	<div id="Popup" title="More information">
	</div>

	</div>


	@* - Templates div is for swapping elements in and out - Templates themselves are not visible - "Template" must only occur
	once in ID string, as suffix *@
	<div id="Templates">

		<div id="LoadingTemplate">
			<img src="img?file=loading.gif">
		</div>

	</div>
</body>

</html>